.footer-area {
  background-color: #f9f9f9;
  padding-top: 100px;
}

.single-footer-widget {
  margin-bottom: 30px;
}

.single-footer-widget .logo {
  display: inline-block;
  margin-bottom: 25px;
}

.single-footer-widget.pr-5 {
  padding-right: 5rem;
}

.single-footer-widget .social-links {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.single-footer-widget .social-links li {
  display: inline-block;
  margin-right: 15px;
}

.single-footer-widget .social-links li a {
  display: block;
  color: var(--optionalColor);
}

.single-footer-widget .social-links li a:hover {
  color: var(--mainColor);
}

.single-footer-widget .location {
  color: var(--optionalColor);
  display: inline-block;
  position: relative;
  margin-top: 20px;
}

.single-footer-widget .location::before {
  left: 0;
  bottom: 0;
  width: 100%;
  content: '';
  height: 1px;
  position: absolute;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--blackColor);
}

.single-footer-widget .location:hover {
  color: var(--mainColor);
}

.single-footer-widget .location:hover::before {
  width: 0;
}

.single-footer-widget h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

.single-footer-widget .custom-links {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.single-footer-widget .custom-links li {
  margin-bottom: 12px;
}

.single-footer-widget .custom-links li a {
  color: var(--optionalColor);
  display: inline-block;
  position: relative;
}

.single-footer-widget .custom-links li a::before {
  width: 0;
  height: 1px;
  content: '';
  position: absolute;
  background-color: var(--mainColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  bottom: 0;
  left: 0;
}

.single-footer-widget .custom-links li a:hover {
  color: var(--mainColor);
}

.single-footer-widget .custom-links li a:hover::before {
  width: 100%;
}

.single-footer-widget .custom-links li:last-child {
  margin-bottom: 0;
}

.single-footer-widget .phone {
  margin-top: 12px;
}

.single-footer-widget .phone span {
  display: block;
  margin-bottom: 5px;
  color: var(--optionalColor);
}

.single-footer-widget .phone a {
  display: inline-block;
}

.copyright-area {
  border-top: 1px solid #e8e8e8;
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.copyright-area p a {
  font-weight: 600;
}

.copyright-area .payment-type {
  text-align: end;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .footer-area {
    padding-top: 60px;
  }
  .single-footer-widget.pr-5 {
    padding-right: 0;
  }
  .single-footer-widget .logo {
    margin-bottom: 20px;
  }
  .single-footer-widget .location {
    margin-top: 15px;
  }
  .single-footer-widget h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .copyright-area {
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .copyright-area .payment-type {
    text-align: start;
    margin-top: 15px;
  }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .copyright-area .payment-type {
    text-align: end;
    margin-top: 0;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area {
    padding-top: 80px;
  }
  .single-footer-widget.pr-5 {
    padding-right: 0;
  }
  .single-footer-widget .logo {
    margin-bottom: 20px;
  }
  .single-footer-widget h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .copyright-area {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-footer-widget.pr-5 {
    padding-right: 10px;
  }
}

/* Min width 1200px to Max width 1399px */
/* Min width 1550px */
/*# sourceMappingURL=footer.css.map */